
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.page-header .ant-layout-header {
  box-shadow: 0 2px 8px black;
}

.members-card .ant-card-body {
  max-height: 150px;
  overflow-y: scroll;
}
